@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Black&display=swap');

body {
    background: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-text-stroke: 0.5px black;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
h1 {
    font-size: 4em;
    font-family: "Archivo Black", sans-serif;
    font-weight: 700;
    text-align: center;
    color: black;
    background: url(../images/textBG.jpg) center;
    background-size: cover;
    background-clip: text;
    color: transparent;
    animation: animate 10s linear infinite;
}
@keyframes animate {
    to {
        background-position-x: 200px;
    }
}